@if(_displayEmojis.Length == 0)
{
    <div class="load-wrapp">
        <div class="load-7">
            <span class="visually-hidden">Loading</span>
            <div class="square-holder">
                <div class="square"></div>
            </div>
        </div>
    </div>
}
else{
    <table class="table table-dark table-borderless table-sm">
        <thead>
        </thead>
        <tbody>
            <tr>
                <th>
                    <i class="bi bi-clock"></i>
                    <span class="visually-hidden">Recent</span>
                </th>
                <th>
                    <i class="bi bi-emoji-smile"></i>
                    <span class="visually-hidden">Faces</span>
                </th>
                <th>
                    <i class="bi bi-flower2"></i>
                    <span class="visually-hidden">Nature</span>
                </th>
                <th>
                    <i class="bi bi-bell-fill"></i>
                    <span class="visually-hidden">Festive</span>
                </th>
                <th>
                    <i class="bi bi-car-front-fill"></i>
                    <span class="visually-hidden">Vehicles</span>
                </th>
                <th>
                    <i class="bi bi-hash"></i>
                    <span class="visually-hidden">Symbols</span>
                </th>
            </tr>
        </tbody>
    </table>
}